node_modules
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.*
*.local
google-service-account.json
.idea/
.vscode/
*.log
ios/Pods/
android/.gradle/
android/app/build/
